:root {
    --background-color: #151518;
}
body {
    background-color: var(--background-color);
    color: white;
}
.gyro-button {
    background-color: rgb(78, 25, 25);
    color: white;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#colors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}
.color-button {
    height: 100px;
    width: 100px;
    border: none;
}
.color-button-selected {
    height: 100px;
    width: 100px;
    border: 10px solid var(--background-color);
}
.low-fuel {
    text-align: center;
    line-height: 50px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(34, 34, 34);
}
.low-fuel-active {
    background-color: rgb(129, 24, 24);
    color: white;
    -webkit-animation: flash 1s ease-in-out infinite;
    -moz-animation: flash 1s ease-in-out infinite;
    animation: flash 1s ease-in-out infinite;
}
#fuel {
    height: 10px;
    width: 100px;
    border: none;
    background-color: yellow;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0px, rgba(255,179,0,1) 54px, rgba(22,255,0,1) 100px);
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
